body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

.homepage {
  width: 100%;
  overflow-x: hidden;
}
.DetailHotelPage {
  height: auto;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.searchpage {
  height: auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
:root {
  --navbar-bg-color: rgba(0, 0, 0, 0.7);
}
/* Navbar */
.navbar {
  background-color: var(--navbar-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  background-color: white;
}

.navbar-title h1 {
  font-size: 32px;
  margin: 0;
  color: white;
  font-weight: 600;
}

.navbar-buttons button {
  background-color: #ffffff;
  border: 2px solid #000;
  padding: 10px 20px;
  font-size: 16px;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 4px;
}

.navbar-buttons button:hover {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 20px;
  }

  .navbar-title h1 {
    font-size: 24px;
  }

  .navbar-buttons button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

/* Hero Section */
.hero-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
}

.header-left {
  text-align: left;
}

.find-stays {
  font-size: 24px;
  color: black;
}

.hotel-title {
  font-size: 30px;
  font-weight: bold;
  margin: 0 40px;
  text-align: center;
  color: black;
}

.auth-buttons {
  display: flex;
  gap: 20px;
}

.login-btn,
.signup-btn {
  background-color: #f0f0f0;
  border: 2px solid black;
  padding: 12px 24px;
  font-size: 18px;
  color: black;
}

.login-btn:hover,
.signup-btn:hover {
  background-color: black;
  color: white;
}

/* Search Flights Section */
.search-places {
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.8);
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
  text-align: left;
  margin-top: -217px;
}

.input-group {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.input-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

label {
  font-size: 14px;
  color: black;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: black;
  transition: border-color 0.3s;
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus {
  border-color: #0664c2;
  outline: none;
}

.date-group {
  display: flex;
  gap: 15px;
  width: 100%;
}

.date-group .input-item {
  flex: 1;
}

.show-places-btn,
.promo-code-btn {
  background-color: var(--navbar-bg-color);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.show-places-btn:hover,
.promo-code-btn:hover {
  background-color: #0664c2;
}
.search-title {
  color: black;
  font-size: 28px;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  gap: 10px;
}
.room-input {
  flex: 0 0 120px;
}

.room-input select {
  width: 100%;
  box-sizing: border-box;
  height: 500px;
  padding: 10px;
  font-size: 16px;
}
.input-item input,
.input-item select {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  padding: 10px;
  font-size: 16px;
}

/* Popular Destinations Section */
.popular-destinations {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  color: black;
  font-size: 28px;
  margin-bottom: 20px;
  text-align: left;
}

.ant-row {
  display: flex;
  justify-content: center;
}

.ant-card {
  border: none;
  box-shadow: none;
  text-align: left;
}

.destination-image-wrapper {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.destination-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.destination-content {
  padding-left: 20px;
}

.ant-card-meta-title {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.ant-card-meta-description {
  color: grey;
}

/* Footer.css */
.footer {
  background-color: #000000;
  padding: 40px 20px;
}

.footer-content {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100vw;
}

.footer-title {
  font-size: 20px;
  color: white;
  margin: 1%;
  white-space: nowrap;
}

.social-icons {
  margin: 0 10px;
}

.social-icons a {
  margin: 0 10px;
  color: white;
  font-size: 20px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.footer-links div {
  flex: 1;
  text-align: left;
  color: white;
}

.footer-links h4 {
  margin-bottom: 10px;
  color: white;
}

.footer-links p {
  margin: 0;
  color: white;
}

/* TravelCards.css */
.travel-cards {
  padding: 20px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.price {
  font-weight: bold;
  font-size: 18px;
  color: #ff3d00;
}

.book-btn {
  background-color: #00bfae;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.travel-title {
  color: black;
  font-size: 28px;
  margin-bottom: 20px;
}

.travel-cards-wrapper {
  width: 100%;
  max-width: 1225px;
  margin: 0 auto;
  padding: 0 16px;
}

.stars {
  color: gold;
  font-size: 18px;
}

.star {
  margin-right: 2px;
}

.rating {
  color: #1877f2;
  font-weight: bold;
}
.location-title {
  font-size: 36px;
  color: black;
  font-weight: bold;
  margin-bottom: 20px;
}
/*endow*/
.endow-cards {
  padding: 20px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.price {
  font-weight: bold;
  font-size: 18px;
  color: #ff3d00;
}

.book-btn {
  background-color: #00bfae;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.endow-title {
  color: black;
  font-size: 28px;
  margin-bottom: 20px;
}

.endow-cards-wrapper {
  width: 100%;
  max-width: 1225px;
  margin: 0 auto;
  padding: 0 16px;
}

.stars {
  color: gold;
  font-size: 18px;
}

.star {
  margin-right: 2px;
}

.rating {
  color: #1877f2;
  font-weight: bold;
}

/* search hotel */
.search-container-hotel {
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 100px auto;
  width: 80%;
  max-width: 1200px;
  overflow: auto; /* Thêm dòng này để cho phép cuộn */
}

.input-group-hotel {
  display: flex;
  align-items: stretch; /* Căn giữa theo chiều dọc */
  justify-content: space-between; /* Các phần tử cách đều nhau */
  gap: 10px; /* Khoảng cách giữa các ô nhập liệu */
  margin-top: 10px; /* Khoảng cách phía trên cho input-group */
}

.input-hotel {
  flex-grow: 1;
}

.input-hotel input,
.input-hotel select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px; /* Giảm chiều cao của ô nhập liệu */
}

.search-btn {
  background-color: black;
  border: none;
  color: white;
  padding: 5px; /* Giảm padding để nút nhỏ hơn */
  border-radius: 4px;
  cursor: pointer;
  width: 50px; /* Đặt chiều rộng cho nút */
  height: 35px; /* Đặt chiều cao bằng với các ô nhập liệu */
  display: flex; /* Căn giữa icon */
  align-items: center; /* Căn giữa icon theo chiều dọc */
  justify-content: center; /* Căn giữa icon theo chiều ngang */
  margin-top: 25px; /* Dịch nút xuống dưới */
}

.search-btn svg {
  /* Đặt thêm margin cho icon */
  margin-bottom: 2px; /* Dịch icon xuống dưới một chút */
}

.search-btn:hover {
  background-color: #0056b3; /* Màu nền khi hover */
}

/* HotelList.css */
.container {
  display: flex;
  flex-direction: row; /* Giữ phần lọc bên trái */
  margin: 0 auto;
}

.filter {
  width: 60%; /* Đặt chiều rộng của phần lọc. Có thể điều chỉnh theo ý thích */
  padding: 1rem; /* p-4 */
  background-color: #f7fafc; /* bg-gray-100 */
  border-radius: 0.5rem; /* rounded-lg */
}

.filter h2 {
  font-size: 1.25rem; /* text-xl */
  font-weight: 600; /* font-semibold */
  color: #000; /* text-black */
  margin-bottom: 0.5rem; /* khoảng cách dưới tiêu đề */
}

.filter label {
  margin-bottom: 0.5rem; /* mb-2 */
  color: #000; /* text-black */
  display: block; /* Đảm bảo label chiếm toàn bộ chiều rộng */
}

.filter input[type="range"] {
  width: 90%; /* Kéo dài chiều rộng thanh giá */
  margin: 1rem 0; /* Khoảng cách trên và dưới */
}

/* Tăng chiều rộng cho các nhãn giá */
.filter .price-label {
  display: flex; /* Chỉnh sửa để nhãn giá có thể căn chỉnh */
  justify-content: space-between; /* Căn giữa giữa nhãn giá */
  width: 100%; /* Đảm bảo chiếm toàn bộ chiều rộng */
}

/* Tiếp tục các quy tắc CSS trước đó */
.hotel-list {
  width: 75%; /* Chiều rộng của danh sách khách sạn */
  padding: 1rem; /* p-4 */
}

.hotel-list h2 {
  font-size: 1.25rem; /* text-xl */
  font-weight: 600; /* font-semibold */
  color: #000; /* text-black */
}

.hotel-card {
  border: 1px solid #e2e8f0; /* Đường viền */
  border-radius: 0.5rem; /* Bo tròn góc */
  padding: 1rem; /* Padding cho thẻ khách sạn */
  display: flex; /* Chế độ flex */
  background-color: #fff; /* Màu nền */
  width: 200%; /* Đặt chiều rộng toàn bộ */
  max-width: 900px; /* Chiều rộng tối đa của thẻ khách sạn */
  margin: 1rem; /* Khoảng cách giữa các khách sạn */
  height: 300px; /* Thêm chiều cao cố định cho thẻ khách sạn */
  align-items: flex-start; /* Căn chỉnh nội dung ở đầu */
}

.hotel-card img {
  border-radius: 0.5rem; /* rounded-lg */
  height: 17rem; /* h-60 */
  width: 17rem; /* w-60 */
  object-fit: cover; /* object-cover */
  margin-right: 1rem; /* mr-4 */
}

.hotel-details {
  flex: 1; /* Chiếm không gian còn lại */
  display: flex;
  flex-direction: column; /* Cột */
  justify-content: flex-start; /* Căn đầu các thành phần lên trên */
  margin-left: 0.5rem; /* Khoảng cách giữa ảnh và thông tin */
}

.hotel-details h3,
.hotel-details p {
  margin: 0; /* Xóa khoảng cách mặc định */
  text-align: left; /* Căn giữa chữ */
  flex-grow: 1; /* Cho phép các thành phần này chiếm không gian đều */
  margin-bottom: 0.5rem; /* Thêm khoảng cách giữa các đoạn */
}

.hotel-price {
  color: #48bb78; /* Màu chữ cho giá */
}

.book-button {
  margin-top: 4rem; /* Khoảng cách trên */
  background-color: black; /* Màu nền */
  color: #fff; /* Màu chữ */
  padding: 0.5rem; /* Padding */
  border-radius: 0.5rem; /* Bo tròn góc */
  text-align: center; /* Căn giữa chữ trong nút */
  border: none; /* Không có viền */
  cursor: pointer; /* Hiển thị con trỏ chuột khi di chuột qua nút */
  font-size: 1rem; /* Kích thước chữ */
  width: 100%; /* Đặt chiều rộng thành 100% */
  transition: background-color 0.3s; /* Hiệu ứng chuyển màu nền */
}

/* Thêm hiệu ứng hover cho nút */
.book-button:hover {
  background-color: #3182ce; /* Màu nền khi di chuột qua */
}

.show-more-button {
  margin-top: 1rem; /* mt-4 */
  width: 400%; /* Thay đổi kích thước thành 100% để dài ra */
  max-width: 900px; /* Hoặc chiều dài tối đa bạn muốn */
  background-color: black; /* bg-blue-500 */
  color: #fff; /* text-white */
  padding: 0.5rem; /* py-2 */
  border-radius: 0.5rem; /* rounded */
  text-align: center; /* Căn giữa chữ trong nút */
}
.hotel-price {
  color: #48bb78; /* text-green-500 */
  font-size: 1rem; /* Chỉnh sửa kích thước chữ nếu cần */
}
.text-custom {
  color: #ff3d00; /* Mã màu xanh dương */
}
.button-container {
  display: flex; /* Đặt chế độ flex cho container */
  justify-content: flex-start; /* Căn nút về bên trái */
  margin-top: 0.5rem; /* Khoảng cách trên button */
  align-self: flex-start; /* Đưa button sát vào ảnh */
  width: 100%;
}
/* oderroom*/
.order-room-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
}

.hotel-header {
  display: flex;
  align-items: center;
  gap: 15px; /* Khoảng cách giữa các phần tử */
}

.hotel-name {
  font-size: 24px;
  margin: 0;
  color: black;
  font-weight: bold;
}

.hotel-rating {
  display: flex;
  align-items: center;
  gap: 5px; /* Khoảng cách giữa sao, điểm số và "Khách sạn 5 sao" */
}

.rating-stars {
  display: flex;
}

.hotel-score {
  font-weight: bold;
  color: black;
}

.hotel-category {
  color: gray;
  font-size: 14px; /* Chữ nhỏ hơn tiêu đề */
}

.hotel-location {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  color: black;
}

/* Định dạng nút 4.2 */
.Hotel-button {
  background-color: #f0f0f0;
  color: black;
  border: 1px solid black;
  padding: 5px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.hotel-price {
  font-size: 20px;
  font-weight: bold;
  color: #e63946;
  padding: 1rem;
}

.book-now-btn {
  background-color: black;
  color: white;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}

.book-now-btn:hover {
  background-color: rgb(58, 56, 56);
}
.hotel-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: -10px;
}
/* hotel image */
.hotel-image {
  display: flex; /* Sử dụng flexbox để sắp xếp ảnh */
  gap: 5px; /* Khoảng cách giữa ảnh lớn và các ảnh nhỏ */
  padding-top: 50px;
}

.main-image {
  width: 50%; /* Chiều rộng của ảnh lớn */
  max-height: 100%; /* Chiều cao tối đa cho ảnh chính (có thể điều chỉnh) */
  overflow: hidden; /* Ẩn phần thừa nếu cần */
}

.main-image img {
  width: 100%;
  height: 100%; /* Đảm bảo ảnh chiếm hết chiều cao */
  object-fit: cover; /* Cắt ảnh theo tỷ lệ */
  padding-left: 20%;
}

.gallery-images {
  display: grid; /* Sử dụng grid cho ảnh nhỏ */
  grid-template-columns: repeat(2, 1fr); /* 2 ảnh nhỏ trên 1 hàng */
  grid-template-rows: repeat(2, 1fr); /* 2 hàng ảnh nhỏ */
  gap: 5px; /* Khoảng cách giữa các ảnh nhỏ */
  width: 40%; /* Chiều rộng của container ảnh nhỏ */
  max-height: 40%; /* Chiều cao tối đa cho grid ảnh nhỏ (có thể điều chỉnh) */
  position: relative; /* Để sử dụng cho định vị nút */
}

.gallery-images img {
  width: 100%; /* Chiều rộng đầy đủ cho mỗi ảnh nhỏ */
  height: 100%; /* Chiều cao tự động theo tỷ lệ ảnh */
  object-fit: cover; /* Cắt ảnh theo tỷ lệ */
}

.image-with-button {
  position: relative; /* Để định vị nút bên trên ảnh */
}

.view-more {
  position: absolute; /* Định vị nút ở góc dưới bên phải */
  bottom: 10px; /* Khoảng cách từ đáy ảnh */
  right: 10px; /* Khoảng cách từ bên phải */
  display: flex;
  justify-content: center; /* Căn giữa nút */
  width: 100%; /* Chiều rộng đầy đủ cho nút */
  padding-left: 10%;
}

.view-more button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.view-more button:hover {
  background-color: #333;
}
/* Introduction*/
.introduction {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  color: black;
  margin-left: 10%;
  margin-right: 10%;
}

.introduction h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.introduction p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 10px;
}
/* tien nghi*/
.amenities {
  padding: 20px;
  padding-left: 10%;
  padding-right: 40%;
  color: black;
}

.amenities h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.amenities ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Chia thành 2 cột */
  gap: 20px; /* Khoảng cách giữa các mục */
}

.amenities li {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.amenities .icon {
  margin-right: 5px;
  font-size: 1.5rem;
}
/* review */
.review-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  color: black;
  margin-left: 10%;
  margin-top: 50px;
}

.overall-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.rating-score {
  display: flex;
  align-items: flex-start;
}
.rating-cc {
  margin-right: auto;
}
.overall-rating h2 {
  font-size: 3rem;
  margin-right: 10px;
}

.submit-review {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.reviews-list {
  border-top: 1px solid #ccc;
}

.review-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 20px;
}

.review-content {
  flex-grow: 1;
}

.flag-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
